<div class="wrapper-masthead">
  <div class="titlerect">
    <div id="fade-down">
      <header class="masthead clearfix">
        <div style="float:left; width: 15%">

          <a href="{{ site.baseurl }}/Myst-Jam/" class="site-avatar">
            <div class="cf">
              <img class="bottom" src="/rsc/thumbs/website-hover.png">
              <img class="top" src="/rsc/thumbs/website-thumb.png">
            </div>
          </a>
        </div>
        <div>
          <div style="float:right; width:40%; height: 100%;">
            <!--
            <p class="site-description">{{ site.description }}</p>
            -->
            <nav>
              <a href="{{ site.baseurl }}/gd">Game Dev</a>
              <a href="{{ site.baseurl }}/if">Writing</a>
              <a href="{{ site.baseurl }}/about">About</a>
            </nav>
          </div>
          <div style="float:right; width:40%;">
            <h1 class="site-name">
              <a href="{{site.baseurl}}/">{{site.name}}</a>
            </h1>
          </div>
        </div>
        <!--<hr id="thr">-->
      </header>
    </div>
  </div>
</div>
