<div class="wrapper-masthead">
  <div class="titlerect">
    <div id="fade-down">
      <header class="masthead clearfix">
        <a href="{{ site.baseurl }}/Myst-Jam/" class="site-avatar">
          <div class="cf">
            <img class="bottom" src="/rsc/thumbs/website-hover.png">
            <img class="top" src="/rsc/thumbs/website-thumb.png">
          </div>
        </a>
          <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
          <p class="site-description">{{ site.description }}</p>
        <!--<hr id="thr">-->
        <nav>
          <a href="{{ site.baseurl }}/about">About</a>
          <a href="{{ site.baseurl }}/blag">Blag</a>
          <a href="{{ site.baseurl }}/gd">Game Dev</a>
          <a href="{{ site.baseurl }}/3d">3D Modeling</a>
          <!--<a href="{{ site.baseurl }}/music">Music</a> -->
          <a href="{{ site.baseurl }}/if">Writing</a>
        </nav>
      </header>
    </div>
  </div>
</div>