<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>

    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>

  <body>
    {% include header.html %}

    {% include feature.html %}

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <a href="{{ site.baseurl }}/Myst-Jam/">
      <div id="main" role="main" class="mainContainer">
        <video autoplay loop>
          <source src="https://cmu.box.com/shared/static/wi4tqa264j3zdemb5ts3brfmly61xvtw.mp4" type="video/mp4">
        </video>
      </div>
    </a>
    {% include footer.html %}
    {% include analytics.html %}
  </body>
</html>
