<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>

    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  </head>

  <body>
    <div class="wrapper-masthead">
      <div class="titlerect">
        <div id="fade-down">
          <header class="masthead clearfix">
            <a href="{{ site.baseurl }}/" class="site-avatar">
              <img src="/rsc/rook-top.png" /></a>
            <h1 class="site-name"><a href="{{ site.baseurl }}/">
              {{ site.name }}
            </a></h1>
            <a href="{{ page.link }}"><p class="site-description">
              {{ site.description }}
            </p></a>
          </header>
          <hr id="thr">
          <nav>
            <a href="{{ site.baseurl }}/about">About</a>
            <a href="{{ site.baseurl }}/blag">Blag</a>
            <a href="{{ site.baseurl }}/gd">Game Dev</a>
            <a href="{{ site.baseurl }}/3d">3D Modeling</a>
            <!-- <a href="{{ site.baseurl }}/music">Music</a>-->
            <a href="{{ site.baseurl }}/if">Writing</a>
          </nav>
        </div>
      </div>
    </div>

    <div id="CoffeeCode" class="mainContainer" style="background: #000;"></div>
    <script src="/js/lib/three.min.js"></script>
    <script src="/js/lib/OrbitControls.js"></script>
    <script language="javascript" src="/js/{{ page.feature }}.js"></script>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <a href="{{ site.baseurl }}/3d/komodo">
      <div id="main" role="main" class="mainContainer">
        <video autoplay loop>
          <source src="https://cmu.box.com/shared/static/x5setkoeswrhhan84qo646s226t9myq1.mp4" type="video/mp4">
        </video>
      </div>
    </a>
    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>
    {% include analytics.html %}
  </body>
</html>
