---
layout: default
comments: true
---

<article class="post">
  {% include title.html %}

  {% if page.link %}
    <a href="{{ page.link }}">
    {% if page.img %}
      <img class="caption__media" src="{{site.baseurl}}{{page.img}}">
    {% endif %}
    </a>
  {% else %}
    {% if page.img %}
      <img class="caption__media" src="{{site.baseurl}}{{page.img}}">
    {% endif %}
  {% endif %}

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Ben Scott {{ page.date | date: "%Y-%m-%d" }}
  </div>

  {% include disqus.html %}
</article>
